*~
aclocal.m4
autom4te.cache
*.bak
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
configure
depcomp
depcomp
.deps
*.diff
.gitignore
*.gmo
gnome-doc-utils.make
install-sh
intltool-extract*
intltool-merge*
intltool-update*
*.la
.libs
libtool
*.lo
*.loT
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
*.mo
*.o
*.omf
*.patch
po/.intltool-merge-cache
po/Makefile.in.in
po/missing
po/notexist
po/POTFILES
po/stamp-it
*.rej
stamp-h1
*.tar.bz2
*.tar.gz

# Gossip specific
data/glade/chat.gladep
data/glade/main.gladep
gossip.desktop
gossip.desktop.in
gossip.schemas
peekaboo/data/GNOME_Peekaboo_Applet.server
peekaboo/data/GNOME_Peekaboo_Applet.server.in
